# Data Analysis - Video Game Stats

## Author: Davee Sok

### July 14, 2021

In [6]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('vgsales.csv')

In [34]:
df.head(20)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [35]:
# 1. Which company is the most common video game publisher?

most_common_publisher=df['Publisher'].value_counts().index[0]
most_common_publisher

'Electronic Arts'

In [36]:
# 2. What’s the most common platform?

most_common_platform = df['Platform'].value_counts().index[0]
most_common_platform

'DS'

In [37]:
# 3. What’s the most common genre?
most_common_genre = df['Genre'].value_counts().index[0]
most_common_genre

'Action'

In [38]:
# 4. What are the top 20 highest grossing games?

# top_twenty_highest_grossing_games = df[['Name', 'Global_Sales']].sort_values('Global_Sales', ascending=False).head(20)
top_twenty_highest_grossing_games = df[['Name', 'Global_Sales']].sort_values('Global_Sales', ascending=False).head(20)
# names_only=top_twenty_highest_grossing_games['Name'][0:20]
# names_only
top_twenty_highest_grossing_games

                                            Name  Global_Sales
0                                     Wii Sports         82.74
1                              Super Mario Bros.         40.24
2                                 Mario Kart Wii         35.82
3                              Wii Sports Resort         33.00
4                       Pokemon Red/Pokemon Blue         31.37
5                                         Tetris         30.26
6                          New Super Mario Bros.         30.01
7                                       Wii Play         29.02
8                      New Super Mario Bros. Wii         28.62
9                                      Duck Hunt         28.31
10                                    Nintendogs         24.76
11                                 Mario Kart DS         23.42
12                   Pokemon Gold/Pokemon Silver         23.10
13                                       Wii Fit         22.72
14                                  Wii Fit Plus         22.00
15                            Kinect Adventures!         21.82
16                            Grand Theft Auto V         21.40
17                 Grand Theft Auto: San Andreas         20.81
18                             Super Mario World         20.61
19  Brain Age: Train Your Brain in Minutes a Day         20.22

In [39]:
# 5. For North American video game sales, what’s the median?

na_median_sales=df['NA_Sales'].median()
na_median_sales

0.08

In [42]:
# Provide a secondary output showing ten games surrounding the median sales output

with_median = df[df["NA_Sales"] == na_median_sales]

with_median_count = len(with_median)
mid_of_median = with_median_count // 2

ten_median_na_sellers = with_median[mid_of_median - 5:mid_of_median + 5]
ten_median_na_seller_names = list(ten_median_na_sellers.Name)
ten_median_na_seller_names

['Spider-Man: Edge of Time',
 'Turok: Evolution',
 'Deadpool',
 'GT Advance 2: Rally Racing',
 "A Witch's Tale",
 'Nickelodeon Dance',
 'Phantasy Star Collection',
 "LEGO Knights' Kingdom",
 'Family Game Night 4: The Game Show',
 'NBA Jam 2002']

In [43]:
# 6. For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?

max =df[['NA_Sales']].max()
mean =df[['NA_Sales']].mean()
standard_deviation=df[['NA_Sales']].std()
result = (max - mean) / standard_deviation
result

NA_Sales    50.478988
dtype: float64

In [44]:
# 7. The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?

# Wii's Average Numbers
just_wi_games=df.loc[df['Platform'] == 'Wii', ['Global_Sales']].mean()
print(f'Wii\'s average numbers: {just_wi_games}')

# Other's PlatForms Average Sales
non_wii_games=df.loc[df['Platform'] != 'Wii', ['Global_Sales']].mean()
print(f'Other Platforms average numbers: {non_wii_games}')

Wii's average numbers: Global_Sales    0.699404
dtype: float64
Other Platforms average numbers: Global_Sales    0.52339
dtype: float64

In [28]:
# 8. What was Nintendo's total Global Sales

nintendo_total_sales= df.loc[df['Publisher'] == 'Nintendo', ['Global_Sales']].sum()
nintendo_total_sales

Global_Sales    1786.56
dtype: float64

In [92]:
# 9. What was Nintendo's Highest Grossing Year
sales=df[['Year', 'Publisher', 'Global_Sales']].sort_values(by='Global_Sales', ascending=False)
nintendo_highest_grossing_year= sales['Year'].head(1)
nintendo_highest_grossing_year

0    2006.0
Name: Year, dtype: float64

In [60]:
# 10. What was Sony Computer Entertainment total sales
sonys_totol_sales= df.loc[df['Publisher'] == 'Sony Computer Entertainment', ['Global_Sales']].sum()
sonys_totol_sales

Global_Sales    607.5
dtype: float64

In [50]:
def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

    assert_equal(most_common_publisher, 'Electronic Arts')
    assert_equal(most_common_platform, 'DS')
    assert_equal(most_common_genre, 'Action')
    assert_equal(top_twenty_highest_grossing_games.iloc[0].Name, 'Wii Sports')
    assert_equal(top_twenty_highest_grossing_games.iloc[19].Name, 'Brain Age: Train Your Brain in Minutes a Day')
    assert_equal(na_median_sales, 0.08)
    # assert_equal(ten_median_na_seller_names, ten_median_na_seller_names)

    print("Success!!!")

test()

Success!!!