# Data Analysis - Video Game Stats

## Author: Davee Sok

### July 14, 2021

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('vgsales.csv')

In [4]:
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [5]:
# 1. Which company is the most common video game publisher?
most_common_publisher=df['Publisher'].value_counts().head(1)
most_common_publisher

Electronic Arts    1351
Name: Publisher, dtype: int64

In [11]:
# 2. What’s the most common platform?
most_common_platform = df['Platform'].value_counts().head(1)
most_common_platform

DS    2163
Name: Platform, dtype: int64

In [12]:
# 3. What’s the most common genre?
most_common_genre = df['Genre'].value_counts().head(1)
most_common_genre

Action    3316
Name: Genre, dtype: int64

In [13]:
# 4. What are the top 20 highest grossing games?
highest_grossing_games = df[['Name', 'Global_Sales']].sort_values('Global_Sales', ascending=False).head(20)
highest_grossing_games

                                            Name  Global_Sales
0                                     Wii Sports         82.74
1                              Super Mario Bros.         40.24
2                                 Mario Kart Wii         35.82
3                              Wii Sports Resort         33.00
4                       Pokemon Red/Pokemon Blue         31.37
5                                         Tetris         30.26
6                          New Super Mario Bros.         30.01
7                                       Wii Play         29.02
8                      New Super Mario Bros. Wii         28.62
9                                      Duck Hunt         28.31
10                                    Nintendogs         24.76
11                                 Mario Kart DS         23.42
12                   Pokemon Gold/Pokemon Silver         23.10
13                                       Wii Fit         22.72
14                                  Wii Fit Plus         22.00
15                            Kinect Adventures!         21.82
16                            Grand Theft Auto V         21.40
17                 Grand Theft Auto: San Andreas         20.81
18                             Super Mario World         20.61
19  Brain Age: Train Your Brain in Minutes a Day         20.22

In [21]:
# 5. For North American video game sales, what’s the median?
NA_video_game_sales_median=df['NA_Sales'].median()
NA_video_game_sales_median

with_median = df[df["NA_Sales"] == NA_video_game_sales_median]

with_median_count = len(with_median)
mid_of_median = with_median_count // 2

ten_median_na_sellers = with_median[mid_of_median - 5:mid_of_median + 5]
ten_median_na_seller_names = list(ten_median_na_sellers.Name)

ten_median_na_seller_names

['Spider-Man: Edge of Time',
 'Turok: Evolution',
 'Deadpool',
 'GT Advance 2: Rally Racing',
 "A Witch's Tale",
 'Nickelodeon Dance',
 'Phantasy Star Collection',
 "LEGO Knights' Kingdom",
 'Family Game Night 4: The Game Show',
 'NBA Jam 2002']

In [26]:
# For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?
top_selling_game=df['NA_Sales'].std()
top_selling_game

0.8166830292988796